<div class="row">
    <div class="col-4">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" *ngFor="let imagen of imagenes.slice(0,1)">
                    <img src="{{imagen.imagenPath}}" class="d-block w-100" alt="{{imagen.nombre}}">
                </div>
                <div class="carousel-item" *ngFor="let imagen of imagenes.slice(1)">
                    <img src="{{imagen.imagenPath}}" class="d-block w-100" alt="{{imagen.nombre}}">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-8">
        <h2>{{producto.nombre}}</h2>
        <p>Descripcion: {{producto.descripcion}}</p>
        <ul>
            <p>Caracteristicas:</p>
            <li *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</li>
        </ul>
        <h3>Precio: {{producto.precio}}€</h3>
        <button class="btn" id="anadirCarrito">Añadir al carrito</button>
    </div>
</div>