@font-face {
    font-family: 'Montserrat';
    src: url('src/assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'Montserrat', Arial, 'Calibri', 'DM Sans';
}

body {
    background-color: #13051e;
    color: white;
    margin: 0% !important;
    padding: 0% !important;
}