<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:fragment="cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css" type="text/css">
    <title th:text="${titulo}">Titulo</title>
    <style>
        img {
            height: 200px;
            width: 200px;
        }
    </style>
</head>

<body>
    <header th:fragment="navegacion">
        <div class="row">
            <div class="col-sm-4">
                <a href="/publico/index">
                    <img src="../images/logoEstatico.png" alt="Logo de Sedutriv S.L." title="Logo de Sedutriv S.L."
                        id="logoHeader" />
                </a>
            </div>
            <div class="col-sm-8 DivFlotarDerecha">
                <a id="about" href="/publico/progreso">Sobre Nosotros</a>
                <a id="contact" href="/publico/progreso">Contactanos</a>
                <a href="/signin"><input type="button" id="logIn" value="Log In"></a>
                <a href="/registrarse"><input type="button" id="registrarse" value="Registrarse"></a>
            </div>
        </div>
        <nav>
            <div class="row" id="navegacion">
                <div class="col-lg-2">
                    <a href="/publico/progreso" class="enlacesNavegacion">Mochilas</a>
                </div>
                <div class="col-lg-2">
                    <a href="/publico/progreso" class="enlacesNavegacion">Bolsos</a>
                </div>
                <div class="col-lg-2">
                    <a href="/publico/progreso" class="enlacesNavegacion">Bandoleras</a>
                </div>
                <div class="col-lg-2">
                    <a href="/publico/progreso" class="enlacesNavegacion">Cortinas</a>
                </div>
                <div class="col-lg-4">
                    <div id="compraNavegacion">
                        <img src="../images/carrito.png" id="iconoNavegacion">
                        <input type="search" placeholder="Buscar..." id="buscadorNavegacion">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav th:fragment="menu">
        <ul>
            <li><a href="/publico/index">Pagina principal</a></li>
            <li><a href="/publico/contacta">Contacta</a></li>
            <li><a href="/publico/quienes-somos">Quienes somos</a></li>
            <li><a href="/productos">Producto</a></li>
            <li><a href="/categorias">Categorias</a></li>
            <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/usuarios}">Usuarios</a>
            </li>
            <li class="nav-item ms-md-auto dropdown " sec:authorize="isAuthenticated()">
                <a href="/pedidos">Pedidos</a>
            </li>
            <li class="nav-item ms-md-auto dropdown " sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/usuarios/editarDatos}">Editar
                            perfil</a>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/usuarios/editarContr}">Cambiar Contraseña</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">Cerrar sesión</button>
                        </form>
                    </li>
                </ul>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/signin}">LogIn</a><br />
                <a th:href="@{/usuarios/registro}">Registrarse</a><br />
            </li>
        </ul>
    </nav>
    <footer th:fragment="pie">
        <div class="row">
            <div class="col-sm-4">
                <a id="privacidad" href="">Privacidad</a>
                <a id="cookies" href="">Cookies</a>
                <a id="legal" href="">Legal</a>
            </div>
            <div class="col-sm-4" id="divIconos">
                <img class="iconos" src="../images/Iconos/logo_Facebook.png" alt="Icono de Facebook"
                    title="Icono de Facebook" />
                <img class="iconos" src="../images/Iconos/logo_Instagram.png" alt="Icono de Instagram"
                    title="Icono de Instagram" />
                <img class="iconos" src="../images/Iconos/globo.png" alt="Icono de globo" title="Icono de globo" />
                Español
            </div>
            <div class="col-sm-4" id="nombreEmpresa">
                <span>&#169 2023 Sedutriv</span>
            </div>
        </div>
    </footer>
</body>

</html>