<footer>
    <div class="row">
        <div class="col-sm-4">
            <a id="privacidad" routerLink="/privacity">Privacidad</a>
            <a id="cookies" routerLink="/cookies">Cookies</a>
            <a id="legal" routerLink="/legal">Legal</a>
        </div>
        <div class="col-sm-4" id="divIconos">
            <img class="iconos" src="../../assets/images/Iconos/logo_Facebook.png" alt="Icono de Facebook"
                title="Icono de Facebook" />
            <img class="iconos" src="../../assets/images/Iconos/logo_Instagram.png" alt="Icono de Instagram"
                title="Icono de Instagram" />
            <img class="iconos" src="../../assets/images/Iconos/globo.png" alt="Icono de globo"
                title="Icono de globo" />
            Español
        </div>
        <div class="col-sm-4" id="nombreEmpresa">
            <span>&#169; 2024 Sedutriv S.L.</span>
        </div>
    </div>
</footer>