<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="~{fragmentos.html::cabecera}">
</head>


<body>
    <nav th:replace="~{fragmentos.html::menu}">
    </nav>
    <p>
    <h1>Sobre nosotros:</h1>
    </p>
    <p>
        Somos una pequeña familia, que decidio vender los productos de costura que haciamos para nosotros mismo en
        Internet.
    </p>
</body>

</html>