<header th:fragment="navegacion">
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="">
                <img src="../../assets/images/logoEstatico.png" alt="Logo de Sedutriv S.L."
                    title="Logo de Sedutriv S.L." id="logoHeader" />
            </a>
        </div>
        <div class="col-sm-6 DivFlotarDerecha">
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col-2">
                    <a id="about" href="/progreso">Sobre Nosotros</a>
                </div>
                <div class="col-1">
                    <a id="contact" href="/progreso">Contactanos</a>
                </div>
                <div class="col-4">
                    <ng-template [ngIf]="!usuarioService.usuarioLogeado">
                        <div class="row">
                            <div class="col">
                                <input type="button" id="logIn" value="Log In" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <ul class="dropdown-menu">
                                    <form id="formulario" class="form" (ngSubmit)="onLogin(f)" #f="ngForm">
                                        <input class="form-control" type="text" id="alias" name="alias"
                                            placeholder="Josefa24" ngModel />
                                        <input class="form-control" type="password" id="contrasenha" name="contrasenha"
                                            placeholder="*******" ngModel />
                                        <input class="btn" class="form-control" type="submit" value="Log in" />
                                    </form>
                                </ul>
                            </div>
                            <div class="col">
                                <a routerLink="/registro"><input type="button" id="registrarse" value="Registrarse"
                                        class="btn btn-secondary"></a>
                            </div>
                        </div>


                    </ng-template>
                    <input type="button" id="logIn" value="Log Out" class="btn btn-secondary" (click)="onLogOut()"
                        *ngIf="usuarioService.usuarioLogeado">
                </div>



            </div>

        </div>
    </div>
    <nav>
        <div class="row" id="navegacion">
            <div class="col-lg-2">
                <a routerLink="/categoria/1" class="enlacesNavegacion">Mochilas</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/categoria/2" class="enlacesNavegacion">Bolsos</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/categoria/3" class="enlacesNavegacion">Bandoleras</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/categoria/4" class="enlacesNavegacion">Cortinas</a>
            </div>
            <div class="col-lg-4">
                <div id="compraNavegacion">
                    <img src="../../assets/images/carrito.png" id="iconoNavegacion">
                    <input type="search" placeholder="Buscar..." id="buscadorNavegacion">
                </div>
            </div>
        </div>
    </nav>
</header>