<main>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active enlaceCarrusel" routerLink="producto/11">
                <img src="../../assets/images/imagenCentral.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>Mochila 100% Algodon</h5>
                    <p>Ya esta disponible la nueva mochila hecha 100% de algodon</p>
                </div>
            </div>
            <div class="carousel-item enlaceCarrusel" routerLink="producto/12">
                <img src="../../assets/images/imagenCentral2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>Nueva mochila táctica</h5>
                    <p>Disponemos de una nueva mochila tactica en color negro</p>
                </div>
            </div>
            <div class="carousel-item enlaceCarrusel" routerLink="categoria/4">
                <img src="../../assets/images/imagenCentral3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block texto-carrusel">
                    <h5>Tambien vendemos cortinas</h5>
                    <p>Seleccione la tela que mas le guste y se las enviaremos.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row" id="divImagenesCategorias">
        <div class="col-lg-3">
            <a routerLink="/categoria/1">
                <img class="imagenesCategorias" src="../../assets/images/Categorias/mochila.png"
                    alt="Imagen de la categoria de mochilas" title="Imagen de la categoria de mochilas">
            </a>
        </div>
        <div class="col-lg-3">
            <a routerLink="/categoria/2">
                <img class="imagenesCategorias" src="../../assets/images/Categorias/bolso.png"
                    alt="Imagen de la categoria de bolsos" title="Imagen de la categoria de bolsos">
            </a>
        </div>
        <div class="col-lg-3">
            <a routerLink="/categoria/3">
                <img class="imagenesCategorias" src="../../assets/images/Categorias/bandolera.png"
                    alt="Imagen de la categoria de bandoleras" title="Imagen de la categoria de bandoleras">
            </a>
        </div>
        <div class="col-lg-3">
            <a routerLink="/categoria/4">
                <img class="imagenesCategorias" src="../../assets/images/Categorias/gifHerramientas.gif"
                    alt="Imagen de la categoria de cortinas" title="Imagen de la categoria de cortinas">
            </a>
        </div>
    </div>
</main>