header {
    float: left;
}

body {
    text-align: center;
}

#formulario {
    clear: both;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    background-color: #907DB3;
    text-align: center;
    border: 1px solid white;
    padding: 20px;
}

form input {
    width: 90%;
}