<main>
    <div class="row borde-rojo mb-3" *ngFor="let pedido of pedidos;">
        <div class="col">
            <h2>Pedido con fecha {{pedido.fecha | date :'dd/MM/yyyy'}}</h2>
            <h4>Estado: {{pedido.estado| lowercase}}</h4>
            <div class="row m-3 borde-morado" *ngFor="let detalle of getDetalles(pedido.id)">
                <div class="col-2">
                    <img src="{{imagenesService.getImagenesProducto(detalle.idProducto)[0].imagenPath}}"
                        alt="{{imagenesService.getImagenesProducto(detalle.idProducto)[0].nombre}}"
                        title="{{imagenesService.getImagenesProducto(detalle.idProducto)[0].nombre}}">
                </div>
                <div class="col-10">
                    <h4>{{productoService.getProducto(detalle.idProducto).nombre}}</h4>
                    {{productoService.getProducto(detalle.idProducto).descripcion}}
                </div>
            </div>
        </div>
    </div>
</main>